/* Reset default margin and padding for all elements */
body,
h1,
h2,
p,
table {
    margin: 0;
    padding: 0;
}

body {

    font-family: 'Montserrat', sans-serif;
    background-color: #f2f2f2;
    color: #333;
}

header {
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.content {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.left-section,
.right-section {
    width: 45%;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
}

.left-section h2,
.right-section h2 {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    margin-top: 10px;
}

.button:hover {
    background-color: #333;
}

.important-judgements {
    margin-top: 30px;
    text-align: center;
}

table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #000;
    color: #fff;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #000;
    color: #fff;
}